<div class="container-fluid container-table">

  <!--  Contenitore 1 tabella-->
  <div class="container-one">
    <div class="table-container-item kpi-table">
      <table class="table">
        <thead>
        <th class="table-header-big">
          <div class="table-header-input">
            <span>Topic Name</span>
            <input (keyup)="searchFilterKpiTable()" #topicNameVar class="input-header" type="text" name="" id="1"
                   placeholder="Enter topic name">
          </div>
        </th>
        <th class="table-header-small">
          <div class="table-header-input">
            <span>Id Topic</span>
            <input (keyup)="searchFilterKpiTable()" #idTopicVar class="input-header" type="number" name="" id="2"
                   placeholder="Id topic">
          </div>
        </th>
        <th class="table-header-small">
          <div class="table-header-input">
            <span>Totale</span>
            <input (keyup)="searchFilterKpiTable()" #totaleVar class="input-header" type="number" name="" id="3"
                   placeholder="Totale">
          </div>
        </th>
        <th class="table-header-small">
          <div class="table-header-input">
            <span>New Totale</span>
            <input (keyup)="searchFilterKpiTable()" #newTotaleVar class="input-header" type="number" name="" id="4"
                   placeholder="New totale">
          </div>
        </th>
        <th class="table-header-small">
          <div class="table-header">
            <span>Rep. Index Topic</span>
          </div>
        </th>
        </thead>
        <tbody>
        <tr *ngFor="let row of tempKpiTableArray; index as i;" class="hover-highlight">
          <td>
            {{row.topic_name}}
          </td>

          <td>
            {{row.id_topic}}
          </td>

          <td>
            {{row.totale | number: '1.2-4'}}
          </td>

          <td>
            {{row.new_totale | number: '1.2-4'}}
          </td>
          <td>
            <input class="input-without-outline"
                   [disabled]="true"
                   [value]="calculateRepIndexTopic(row.new_sigma, row.new_totale, row.gamma)">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="table-rep-index-doc">
      <table class="table">
        <thead>
        <th>
          <div class="table-header">
            <span>Rep. Index Doc</span>
          </div>
        </th>
        </thead>
        <tbody>
        <tr>
          <td>
            <input class="input-without-outline"
                   [disabled]="true"
                   [value]="calculateRepIndexDoc(tempKpiTableArray[0].gamma, tempKpiTableArray[0].new_sigma)">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--  Contenitore 2 tabella (tabella gamma bottoni e tabella grande)-->
  <div class="container-two">
    <div class="container-gamma-and-button">
      <div class="table-gamma-item">
        <table class="table">
          <thead>
          <th>
            <div class="table-header">
              <span>Gamma</span>
            </div>
          </th>
          </thead>
          <tbody>
          <tr>
            <td>
              <input [ngClass]="kpiTable[0].initGamma != kpiTable[0].gamma ? 'yellow-color' : 'none'"
                     class="input-without-outline"
                     type="number"
                     pattern="/[0-9]+/gm"
                     [(ngModel)]="kpiTable[0].gamma">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="button-container button-up-table">
        <button class="btn-up">Ricalcolo Kpi</button>
        <button class="btn-up" (click)="addTopic()">Aggiungi Topic</button>
      </div>
    </div>

    <div class="table-container-item">
      <table class="table">
        <thead>
        <th class="table-header-small-second-table">
          <div class="table-header-input">
            <span>Id P <i [ngClass]="sortDirection['id_paragraph'] == false ? 'fa-sharp fa-solid fa-sort-down' : 'fa-sharp fa-solid fa-sort-up'" (click)="sortFunction('id_paragraph')"></i></span>
            <input (keyup)="searchFilterKpiParamTable()" #idParagraphVar class="input-header small-input-header" type="number" name="" id="20"
                   placeholder="Id p">
          </div>
        </th>
        <th class="table-header-big">
          <div class="table-header-input">
            <span>Content</span>
            <input (keyup)="searchFilterKpiParamTable()" #contentVar class="input-header big-input-header" type="text" name="" id="21"
                   placeholder="Content">
          </div>
        </th>
        <th class="table-header-small-second-table">
          <div class="table-header-input">
            <span>Subj</span>
            <input (keyup)="searchFilterKpiParamTable()" #sentimentSubjVar class="input-header small-input-header" type="text" name="" id="24"
                   placeholder="Subj">
          </div>
        </th>
        <th class="table-header-small-second-table">
          <div class="table-header-input">
            <span>Parag W <i [ngClass]="sortDirection['paragraph_weight'] == false ? 'fa-sharp fa-solid fa-sort-down' : 'fa-sharp fa-solid fa-sort-up'" (click)="sortFunction('paragraph_weight')"></i></span>
            <input (keyup)="searchFilterKpiParamTable()" #paragraphWVar class="input-header" type="number" name="" id="23"
                   placeholder="Parag w">
          </div>
        </th>
        <th class="table-header-small-second-table">
          <div>
            <span>Sigma <i [ngClass]="sortDirection['sentiment'] == false ? 'fa-sharp fa-solid fa-sort-down' : 'fa-sharp fa-solid fa-sort-up'" (click)="sortFunction('sentiment')"></i></span>
          </div>
        </th>
        <th>
          <div>
            <span>
              Slider
            </span>
          </div>
        </th>
        <th *ngFor="let header of headers">
          <div class="table-header">
            <span>{{header}} <i [ngClass]="sortDirection['topic_name'] == false ? 'fa-sharp fa-solid fa-sort-down' : 'fa-sharp fa-solid fa-sort-up'" (click)="sortFunction('topic_name')"></i></span>
          </div>
        </th>
        </thead>
        <tbody>
        <tr *ngFor="let row of tempKpiParamTableArray; index as i;" class="hover-highlight">

          <td>
            {{row.id_paragraph}}
          </td>

          <td class="grow-size">
            {{row.content}}
          </td>

          <td>
            {{row.sentiment_subj}}
          </td>

          <td>
            <input [ngClass]="row.initParagraphW != row.paragraph_weight ? 'yellow-color' : 'none'"
                   class="input-without-outline"
                   type="number"
                   [(ngModel)]="row.paragraph_weight">
          </td>

          <td>
            <input [ngClass]="row.initialSigma != row.sentiment ? 'yellow-color' : 'none'"
                   class="input-without-outline"
                   type="number"
                   [(ngModel)]="row.sentiment">
          </td>

          <td>
            <input type="range" id="slider" name="slider" min="-1" max="1" step="0.1" />
          </td>

          <td *ngFor="let headers of kpiParamTable">
            <ng-container *ngIf="row.topic_name == headers.topic_name">
              <input [ngClass]="row.initScore != row.score ? 'yellow-color' : 'none'"
                     class="input-without-outline"
                     type="number"
                     [(ngModel)]="row.score">
            </ng-container>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="button-container">
      <button class="btn-second-table" (click)="removeNewParams()">Annulla Modifiche</button>
      <button class="btn-second-table" (click)="saveParams()">Salva Modifiche</button>
    </div>
  </div>
</div>
