@import url('https://fonts.googleapis.com/css2?family=Donegal+One&display=swap');

* {
  margin: 0;
  padding : 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('https://static.istockphoto.com/display-sets/istock/homepage/hero/iStock-1132488056.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex; /* permette di disporre gli elementi in fila*/
  justify-content: space-between;/*inserisce dello spazio al centro degli elementi*/
  align-items: center;
  z-index: 99; /*serve per controllare quali elementi verranno disposti “sopra” o “sotto” rispetto alla profondità dello schermo*/
}

.logo {
  position: relative;
  font-size: 2em;
  color: white;
  user-select: none; /*Specifica se l’utente può o non può selezionare l’elemento*/
  justify-content: center;
  align-items: center;
}

h2 .icon-logo {
  position: absolute;
  margin-left: 5px;
  margin-top: 2px;
}

.navigation a {
  position: relative; /*L'elemento viene posizionato relativamente al suo box contenitore*/
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: ''; /* */
  position: absolute; /*L'elemento viene rimosso dal normale flusso del documento*/
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: right;
  transform: scaleX(1);
}

.navigation .btnLogin {
  width: 110px;
  height: 50px;
  background: transparent;
  border: 2px solid white;
  margin-left: 40px;
  outline: none;
  border-radius: 6px;
  cursor:pointer;
  font-size: 1.1em;
  color: white;
  font-weight: 500;
  transition: .5s;
}

.navigation .btnLogin:hover {
  background:white;
  color: deepskyblue;
}


/*CSS del form di login*/
.container {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(10px); /*Rende il background del contenitore sfocato in base ai px*/
  box-shadow: 0 0 30px rgba(0, 0, 0, .5); /*Crea un effetto ombra sotto al container*/
  display: flex;
  justify-content: center; /*Dispone gli elementi nella parte superiore centrale del contenitore*/
  align-items: center; /*Dispone al centro del contenitore gli elementi*/
}

.container .form-box {
  width: 100%;
  padding: 40px;
}

.form-box h2 {
  font-size: 2em;
  color: white;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid white;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top:50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: white;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  color: white;
  font-size: 1.2em;
  top: 12px;
}

.btn {
  width: 100%;
  height: 40px;
  background: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  font-size: 1em;
  color: royalblue;
  font-weight: 700; /*Permette di impostare l'aspetto dello spessore di un testo*/
}

.login-register {
  font-size: .9em;
  color: white;
  text-align: center;
  font-weight: 700;
  margin: 25px 0 10px;
}

.login-register p a {
  font-weight: 600;
  padding: 10px;
  text-decoration: none;
}

.login-register p a:hover {
  text-decoration: none;
  color: white;
}


