<html>
  <head>
   <link rel="stylesheet" href="login.component.css">
  </head>
  <body>
    <div class="container">
      <div class="form-box">
        <h2>Enter your data</h2>
        <form action="#">
          <div class="input-box">
            <input type="email" required>
            <label>Codice Titolare</label>
          </div>
          <div class="input-box">
            <input type="password" required>
            <label>Codice Pin</label>
          </div>
          <div>
            <button (click) = "goToDatiUtenti()"type="submit" class="btn">Login</button>
          </div>
          <div class="login-register">
            <p>Don't have an account?<button (click) = "goToRegistration()"class="registration-link">Register</button></p>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
