<div class="container">
  <div class="myCard">
    <div class="row">
      <div class="col-md-6">
        <div class="myLeftCtn">
          <form class="myForm text-center">
            <header>Enter your dashboard</header>


            <div class="form-group">
              <i class="fas fa-user"></i>
              <input [(ngModel)]="inputUsername" class="myInput" type="text" name="inputUsername" placeholder="Your Username"  id="username" required>
            </div>

            <div class="form-group">
              <i class="fas fa-user"></i>
              <input [(ngModel)]="inputPassword" class="myInput" type="text" name="inputPassword" placeholder="Password" id="password" required>
            </div>

            <div class="form-group">
              <label>
                <input id="check_1" name="check_1"  type="checkbox" required><small> I read and agree to Terms & Conditions</small>
                <div class="invalid-feedback">You must check the box.</div>
              </label>
            </div>

            <div class="form-group">
              <input type="submit" class="butt" (click)="authenticate()" value="LOGIN">
              <input type="submit" class="butt" (click)="goToRegistration()" value="OR REGISTER NOW">
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="myRightCtn">
          <div class="box"><header>Welcome to Global Bank!</header>

            <p>A bank accessible to all.<br>
              Secure payments and instant transfers!<br>
              Join the community!.</p>
            <input type="button" class="butt_out" value="Learn More"/>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
