





<!--<html>-->
<!--<head>-->
<!--  <link rel="stylesheet" href="bonifico.component.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--  <h2>Make a transfer</h2>-->
<!--  <div class="form-box">-->
<!--    <form class= "form-container" action="#"action="#" [formGroup]="formBonifico">-->
<!--      <div class="input-box">-->
<!--        <label><strong>Balance Credit: </strong>{{valoreConto}} €</label>-->
<!--      </div>-->
<!--      <div class="input-box">-->
<!--        <label><strong>Insert money: </strong></label>-->
<!--        <input formControlName="importo" type="text">-->
<!--      </div>-->
<!--      <div class="input-box">-->
<!--        <label><strong>Insert Iban: </strong></label>-->
<!--        <input type="text">-->
<!--      </div>-->
<!--      <button mat-raised-button color="primary" (click)="faiBonifico()">Effettua bonifico</button>-->
<!--      <button class="button-back" mat-raised-button color="primary" (click)="goToDatiUtenti()">Torna alla schermata dei propri dati</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
