.main-container {
  justify-content: center;
  width: 100%;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}


.card-container {
  width: 300px;
  height: 200px;
  background: rgb(0,146,255);
  background: rgb(140,140,140);
  background: linear-gradient(162deg, rgba(140,140,140,1) 0%, rgba(131,131,131,1) 15%, rgba(0,0,0,1) 100%);
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 17px 20px 17px 1px rgba(156,156,156,0.88);
}

.top-element {
  margin-bottom: 5%;
}

img.chip {
  margin-top: 20px;
}

img.logo-global {
  opacity: 0.7;
}

i {
  font-size: 3vh;
}

i.fa-joomla {
  font-size: 8vh;
}

i.fa-coins {
  font-size: 8vh;
}

.transaction {
  font-size: 4vh;
  margin-top: 30%;
}

.property-card {
  font-size: 80%;
  color: gray;
  margin-top: 60%;
}

.margin-element {
  padding: 100px;
}

.margin-element-column2 {
  padding: 4vw;
}

.margin {

}

.margin-items {
  margin-top: 4vw;
}

.arrow  {
  margin-left: 40px;
}

table {
  margin-top: 3%;
}

tr {
  display: flex;
}

th.description {
  margin-left: 20px;
}

p.import-label-negative {
  color: red;
}

p.import-label-positive {
  color: green;
}

.budget {
  text-align: center;
}

.square {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  justify-content: center;
}

.color-spotify-xbox {
  background: rgb(31,255,0);
  background: linear-gradient(135deg, rgba(31,255,0,0.6839110644257703) 0%, rgba(195,195,195,0.6783088235294117) 100%);
}

.color-apple {
  background: rgb(255,0,189);
  background: linear-gradient(135deg, rgba(255,0,189,0.5914740896358543) 0%, rgba(195,195,195,0.6783088235294117) 100%);
}

.color-amazon {
  background: rgb(0,125,255);
  background: linear-gradient(135deg, rgba(0,125,255,0.5914740896358543) 0%, rgba(254,255,0,0.6783088235294117) 100%);
}

.capacity {
  background-color: white;
}

.square p {
  color: black;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.container-money-save {
  width: 30vw;
  height: 8vh;
  margin-left: 20%;
  background-color: black;
  border-radius: 20px 0 0 20px;
  color: white;
  justify-content: space-around;
}

.save-money {
  font-size: 80%;
  color: gray;
  margin: 0;
}

.data {
  margin: 0;
}

