@import url('https://fonts.googleapis.com/css2?family=Donegal+One&display=swap');

* {
  margin: 0;
  padding : 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('https://static.istockphoto.com/display-sets/istock/homepage/hero/iStock-1132488056.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}


/*CSS del messaggio centrale e button*/
.container {
  width: 100%;
  position: absolute;
  text-align: center;
  color: white;
  trasform: translateY(-50%);
}

.container h1{
  font-size: 80px;
  margin-top: 30px;
}

.button button{
  width: 20%;
  height: 40px;
  margin:20px;
  background: transparent;
  border: 4px solid white;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  font-size: 1em;
  color: white;
  font-weight: 700; /*Permette di impostare l'aspetto dello spessore di un testo*/
  transition: .5s;
  backdrop-filter: blur(50px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .2);
}

button:hover {
  background:white;
  color: deepskyblue;
}
