<div class="main-container flex-container margin">

  <!-- Prima colonna-->
  <div class="flex-container-column margin-element">
    <h3 class="top-element">my Card</h3>

    <!--Card container-->
    <div class="card-container flex-container">
      <div class="flex-container-column fonts first-column">
        <img src="assets/img/visa.png" style="width: 70px">
        <img class="chip" src="assets/img/chip.png" style="width: 40px">
        <h5 class="property-card">{{infoBank.creditCard}}</h5>
      </div>
      <div class="flex-container-column">
        <img class="logo-global" src="assets/img/global.png" style="width: 90px">
      </div>
    </div>
    <!-- End Card container-->

    <div class="margin-items">
      <h3>€: {{infoBank.cardBalance}}</h3>
      <div class="flex-container">
        <h3 class="title">Card transaction</h3>
        <span class="material-symbols-outlined arrow">trending_flat</span>
      </div>
      <div class="flex-container table-container">
        <table class="table table-borderless">
          <tbody>
            <div *ngFor="let info of infoCard">
              <tr>
                <div class="flex-container square color-spotify-xbox">
                  <th>
                    <i class="fa-brands fa-spotify" style="color: #000000;"></i>
                  </th>
                </div>
                <th class="description" scope="col">
                  <p>{{info.descriptionTransaction}}</p>
                  <p class="import-label-negative">€ -{{info.amountCard}}</p>
                </th>
              </tr>
            </div>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <!--Seconda colonna -->
  <div class="flex-container-column margin-element-column2">

    <div class="budget">
      <i class="fa-solid fa-coins top-element" style="color: #000000;"></i>
      <h2>{{infoBank.iban}}</h2>
      <h3>€: {{infoBank.ibanBalance}}</h3>
      <h4>budget</h4>
    </div>

    <div class="margin-items">
      <div class="flex-container">
        <h3 class="title">Transaction</h3>
        <span class="material-symbols-outlined arrow">trending_flat</span>
      </div>
      <table class="table table-borderless">
        <tbody>
        <div *ngFor="let info of infoIban">
          <tr>
            <div class="flex-container square color-spotify-xbox">
              <th>
                <i class="fa-brands fa-spotify" style="color: #000000;"></i>
              </th>
            </div>
            <th class="description" scope="col">
              <p>{{info.descriptionTransactional}}</p>
              <p [ngClass]="info.amountIban < 0 ? 'import-label-negative' : 'import-label-positive'">€ {{info.amountIban}}</p>
            </th>
          </tr>
        </div>
        </tbody>
      </table>
      <div class="margin-items">
        <div class="flex-container">
          <div class="flex-container container-money-save">
            <div class="flex-container square capacity">
              <p>75%</p>
            </div>
            <div class="flex-container-column">
              <h5 class="save-money">You save money</h5>
              <h3 class="data">30.09.2020</h3>
            </div>
            <i class="fa-solid fa-arrow-right" style="color: white;"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--  <div class="container">-->
<!--    <h2 class="home-title">WELCOME!</h2>-->
<!--      <div class="btn">-->
<!--        <button (click) = "goToLogin()" mat-raised-button color="primary">Login</button>-->
<!--        <button (click) = "goToRegistration()" mat-raised-button color="primary">Sign In</button>-->
<!--      </div>-->
<!--  </div>-->
