.btn-modal {
  display: flex;
  justify-content: center;
}

.button-modal {
  margin: 10px;
  background-color: darkcyan;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

/deep/.mat-mdc-dialog-surface.mdc-dialog__surface{
  background-color: white;
  padding: 50px;
}
