.root-container {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 10%;
  min-width: 10%;
  border-right: 2px solid lightgrey;
}

.nav-item {
  display: flex;
  align-items: center
}

.nav-title h3{
  font-size: 20px;
}

.container-element {
  position: relative;
  height: 800px;
}

.btn {
  position: relative;
  top: 50px;
  height: 40px;
  border: none;
  background: none;
  color: black;
}

.material-icons {
  position: relative;
  top: 50px;
}

.container-logout {
  position: absolute;
  bottom: 70px;
}

/*html {*/
/*  height: 0;*/
/*}*/

/*.navbar {*/
/*  justify-content: space-between;*/
/*}*/

/*span {*/
/*  padding-right: 40px;*/
/*}*/

/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/
