<!--  Intestaione-->
<div class="root-container">
    <div class="navbar">
      <div class="container-element">
        <ul class="nav flex-column">
          <li class="nav-title">
            <h3>GlobalBank</h3>
          </li>
          <li class="nav-item">
            <span class="material-icons">home</span>
            <button type="submit" class="btn btn-dark" (click)="goToHome()"> Overview</button>
          </li>
          <li class="nav-item">
            <span class="material-icons">person</span>
            <button type="button" class="btn btn-dark"> Profile</button>
          </li>
          <li class="nav-item">
            <span class="material-icons">wallet</span>
            <button type="button" class="btn btn-dark" > Wallet</button>
          </li>
          <li class="nav-item">
            <span class="material-icons">grid_view</span>
            <button type="submit" class="btn btn-dark" (click)="goToIban()"> Reports</button>
          </li>
          <div class="container-logout">
            <li class="nav-item logout">
              <span class="material-icons logout">logout</span>
              <button type="button" class="btn logout btn-dark"> Log out</button>
            </li>
          </div>
        </ul>
      </div>
    </div>
  <div class="w-100">
    <router-outlet></router-outlet> 
    </div>
</div>

<!--  
    <app-transaction-iban></app-transaction-iban>
 
  
  <mat-toolbar color="primary" class="navbar">-->
<!--    <span>YOURBANK</span>-->
<!--    <div>-->
<!--      <span>Home</span>-->
<!--      <span>About</span>-->
<!--      <span>Service</span>-->
<!--    </div>-->
<!--  </mat-toolbar>-->
