<!--Navbar Container-->
<div class="flex-container-navbar">
  <div class="flex-container-column-navbar navbar">
    <div class="title-container">
      <!--Title-->
      <h3>GlobalBank</h3>
    </div>

    <!--Navigation-->
    <div class="flex-container-navbar navigation">

      <!--Column Icon-->
      <div class="flex-container-column-navbar space">

        <div class="flex-container-navbar">
          <ul>
            <li class="icon">
              <span class="material-icons">home</span>
            </li>
            <li class="icon">
              <span class="material-icons">person</span>
            </li>
            <li class="icon">
              <span class="material-icons">wallet</span>
            </li>
            <li class="icon">
              <span class="material-icons">grid_view</span>
            </li>
            <li class="icon">
              <span class="material-icons">sync_alt</span>
            </li>
          </ul>
        </div>
        <div class="flex-container-navbar container-logout">
          <ul>
            <li class="nav-item logout">
              <span class="material-icons logout">logout</span>
            </li>
          </ul>
        </div>

      </div>
      <!--End Column Icon-->

      <!--Column Button-->
      <div class="flex-container-column-navbar space">

        <div class="flex-container-navbar">
          <ul class="ul-button">
            <li class="button">
              <button type="submit" class="btn btn-outline-dark" (click)="goToHome()"> Overview</button>
            </li>
            <li class="button">
              <button type="button" class="btn btn-outline-dark"> Profile</button>
            </li>
            <li class="button">
              <button type="button" class="btn btn-outline-dark" > Wallet</button>
            </li>
            <li class="button">
              <button type="submit" class="btn btn-outline-dark" > Reports</button>
            </li>
            <li class="button">
              <button type="submit" class="btn btn-outline-dark" (click)="goToIban()"> Transfers</button>
            </li>
          </ul>
        </div>

        <div class="flex-container-navbar container-logout">
          <ul>
            <li class="nav-item logout">
              <button type="button" class="btn logout btn-outline-dark" (click)="goToLogin()"> Log out</button>
            </li>
          </ul>
        </div>

      </div>
      <!--End Column Button-->

    </div>
    <!-- End Navigation-->
  </div>
  <div class="w-100">
    <router-outlet></router-outlet>
  </div>
</div>

