.flex-container-navbar {
  display: flex;
}

.flex-container-column-navbar {
  display: flex;
  flex-direction: column;
}

.navbar {
  justify-content: flex-start;
  padding: 20px;
  height: 100vh;
  border-right: 2px solid lightgrey;

}

.title-container {
  height: 150px;
}

ul {
  list-style-type: none;
  padding: 0;
}

div.navigation {
  width: 140px;
  height: 700px;
  justify-content: space-between;
}

div.space {
  justify-content: space-between;
}

li.icon {
  margin-top: 14px;
}

li.button {
  margin-top: 8px;
}

.btn {
  border: none;
}
