.flex-container-navbar {
  display: flex;
}

.flex-container-column-navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
}

.page-container {
  padding-left: 210px;
}

.container-logout-icon {
  margin-top: 100px;
}

.container-logout-label {
  margin-top: 94px;
}


.navbar {
  justify-content: flex-start;
  padding: 20px;
  height: 100vh;
  border-right: 2px solid lightgrey;

}

.icon-container {
  padding-top: 1px;
}

.label-container {
  margin-left: 35px;
}

.title-container {
  height: 150px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

div.navigation {
  width: 140px;
  height: 60%;
  justify-content: space-between;
}

div.space {
  justify-content: space-between;
}

li.icon {
  margin-top: 14px;
}

li.button {
  margin-top: 8px;
}

.btn {
  border: none;
}
