
    <div class="container">
      <div class="card-style">
        <div class="form-box">
          <h2>{{message}}</h2>
          <form action="#">
            <div class="block-line">
              <div class="input-box">
                <input type="text" required>
                <label>Id</label>
              </div>
              <div class="input-box">
                <input type="text" required>
                <label>Name</label>
              </div>
            </div>
            <div class="block-line">
              <div class="input-box">
                <input type="text" required>
                <label>Pin</label>
              </div>
              <div class="input-box">
                <input type="text" required>
                <label>Firstname</label>
              </div>
            </div>
            <div class="block-line">
              <div class="input-box">
                <input type="date" required>
                <label class="data"></label>
              </div>
              <div class="input-box">
                <input type="tel" required>
                <label>Telephone Number </label>
              </div>
            </div>
            <div class="block-line">
              <div class="input-box">
                <input type="text" required>
                <label>Address</label>
              </div>
              <div class="input-box">
               <input type="email" required>
                <label>Email</label>
              </div>
            </div>
            <div>
              <button (click) = "goToDatiUtenti()" type="submit" class="btn">Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
