.container {
  height: 100%;
  justify-content: space-around;
  padding: 0;
}

.card-container {
  height: 35rem;
  justify-content: center;
  background-image: linear-gradient(45deg, #606060 0%, #dadada 100%);
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 21px 25px 34px -3px rgba(0,0,0,0.62);
  -moz-box-shadow: 21px 25px 34px -3px rgba(0,0,0,0.62);
  box-shadow: 21px 25px 34px -3px rgba(0,0,0,0.62);
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

div.row {
  text-align: center;
}

h3 {
  margin-bottom: 20px;
}

div.col {
  align-items: center;
}

.myInput {
  width: 230px;
  border-radius: 25px;
  padding: 10px;
  padding-left: 50px;
  border: none;
  -webkit-box-shadow: 0px 30px 9px -11px rgba(0,0,0,0.62);
  -moz-box-shadow: 0px 30px 9px -11px rgba(0,0,0,0.62);
  box-shadow: 0px 30px 9px -11px rgba(0,0,0,0.62);
}

.form-group {
  margin-top: 30px;
}

.myInput:focus {
  outline: none;
}

.butt {
  margin-top: 30px;
  background-image: linear-gradient(45deg, #FAD961 0%, #F76B1C 100%);
  color: black;
  width: 230px;
  border: none;
  border-radius: 25px;
  padding: 10px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-box-shadow: 0px 20px 9px -11px rgba(0,0,0,0.62);
  -moz-box-shadow: 0px 20px 9px -11px rgba(0,0,0,0.62);
  box-shadow: 0px 20px 9px -11px rgba(0,0,0,0.62);
}

.butt:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.butt:focus {
  outline: none;
}

.fas {
  position: relative;
  color: #F76B1C;
  left: 36px;
}


