<div class="container flex-container">
  <div class="card card-container-registration flex-container" style="width: 40rem;">
    <div class="row flex-containier">
      <h3>Enter you data</h3>
      <div class="col flex-container-column">

        <div class="form-group">
          <i class="fas fa-user"></i>
          <input [(ngModel)]="inputName" class="myInput" type="text" name="inputFiscalCode" placeholder="Name" id="name" required>
        </div>

        <div class="form-group">
          <i class="fas fa-sharp fa-regular fa-file-signature"></i>
          <input [(ngModel)]="inputSurname" class="myInput" type="text" placeholder="Surname" id="surname" required>
        </div>

        <div class="form-group">
          <i class="fas fa-solid fa-cake-candles"></i>
          <input [(ngModel)]="inputDate" class="myInput" type="date" placeholder="Date of birth" id="dateOfBirth" required>
        </div>

        <div class="form-group">
          <i class="fas fa-solid fa-address-card"></i>
          <input [(ngModel)]="inputAddress" class="myInput" type="text" placeholder="Address" id="address" required>
        </div>

      </div>
      <div class="col flex-container-column">

        <div class="form-group">
          <i class="fas fa-solid fa-code"></i>
          <input [(ngModel)]="inputFiscalCode" class="myInput" type="text" placeholder="Fiscal Code" id="fiscalCode" required>
        </div>

        <div class="form-group">
          <i class="fas fa-solid fa-phone"></i>
          <input [(ngModel)]="inputPhone" class="myInput" type="text" placeholder="Telephon" id="telephon" required>
        </div>

        <div class="form-group">
          <i class="fas fa-solid fa-inbox"></i>
          <input [(ngModel)]="inputEmail" class="myInput" type="email" placeholder="Email" id="email" required>
        </div>

    </div>
  </div>
    <input type="submit" class="butt" (click)="goToSetPin()" value="SIGN IN">
    <input type="submit" class="butt back" (click)="goToLogin()" value="BACK TO LOGIN">
</div>

<!--<div class="container">-->
<!--  <div class="myCard">-->
<!--    <div class="row">-->
<!--      <div class="col-md-6">-->
<!--        <div class="myLeftCtn">-->
<!--          <form class="myForm text-center">-->
<!--            <header>Enter your data</header>-->
<!--            <div class="form-group">-->
<!--              <i class="fas fa-user"></i>-->
<!--              <input class="myInput" type="text" placeholder="Name" id="name" required>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--              <i class="fas fa-envelope"></i>-->
<!--              <input class="myInput" placeholder="Firstname" type="text" id="firstname" required>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--              <label>-->
<!--                <input id="check_1" name="check_1"  type="checkbox" required><small> I read and agree to Terms & Conditions</small>-->
<!--                <div class="invalid-feedback">You must check the box.</div>-->
<!--              </label>-->
<!--            </div>-->

<!--&lt;!&ndash;            <input type="submit" class="butt" (click)="goToHome()" value="LOGIN ">&ndash;&gt;-->

<!--&lt;!&ndash;            <input type="submit" class="butt" (click)="goToRegistration()" value="OR REGISTER NOW ">&ndash;&gt;-->

<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->




<!--    <div class="container">-->
<!--      <div class="card-style">-->
<!--        <div class="form-box">-->
<!--          <h2>{{message}}</h2>-->
<!--          <form action="#">-->
<!--            <div class="block-line">-->
<!--              <div class="input-box">-->
<!--                <input type="text" required>-->
<!--                <label>Id</label>-->
<!--              </div>-->
<!--              <div class="input-box">-->
<!--                <input type="text" required>-->
<!--                <label>Name</label>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="block-line">-->
<!--              <div class="input-box">-->
<!--                <input type="text" required>-->
<!--                <label>Pin</label>-->
<!--              </div>-->
<!--              <div class="input-box">-->
<!--                <input type="text" required>-->
<!--                <label>Firstname</label>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="block-line">-->
<!--              <div class="input-box">-->
<!--                <input type="date" required>-->
<!--                <label class="data"></label>-->
<!--              </div>-->
<!--              <div class="input-box">-->
<!--                <input type="tel" required>-->
<!--                <label>Telephone Number </label>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="block-line">-->
<!--              <div class="input-box">-->
<!--                <input type="text" required>-->
<!--                <label>Address</label>-->
<!--              </div>-->
<!--              <div class="input-box">-->
<!--               <input type="email" required>-->
<!--                <label>Email</label>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div>-->
<!--              <button (click) = "goToDatiUtenti()" type="submit" class="btn">Sign In</button>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
