<div class="container-pin flex-container">
  <div class="card card-container-pin flex-container">
    <div class="row flex-containier">
      <h3>Successful Registration !</h3>
      <div class="col flex-container-column">

        <div class="form-group">
          <p>Your User Code is: </p>
        </div>

        <div class="form-group">
          <i class="fas fa-user"></i>
          <input class="myInput" type="text" placeholder="Set your pin" id="name" required>
        </div>

        <div class="form-group">
          <i class="fas fa-sharp fa-regular fa-file-signature"></i>
          <input class="myInput" type="text" placeholder="Reinsert your pin" id="surname" required>
        </div>

      </div>
    </div>

    <input type="submit" (click)="goToHome()" class="button" value="REGISTER YOUR PIN">

  </div>
</div>
