<div class="flex-container-column margin-element">
    
    <div class="budget">
      <i class="fa-solid fa-coins" style="color: #000000;"></i>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Importo</label>
          <input type="number" class="form-control" id="amountIban" aria-describedby="emailHelp" placeholder="Inserisci importo" name="amountIban">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">IBAN</label>
          <input type="text" class="form-control" id="ibanBeneficiary" placeholder="Iban destinatario" name="ibanBeneficiary">
        </div>
        <br>
        <button type="submit" class="btn btn-primary" onclick="enableProdMode();" >Invia</button>
      <br>
    
      </form>
      <h3>{{infoBank.ibanBalance}}</h3>
      <h4>{{inputAmount}}</h4>  
      <h4>budget</h4>
    </div>
    <div class="margin-items">
      <div class="flex-container">
        <h3 class="title">Transaction</h3>
        <span class="material-symbols-outlined arrow">trending_flat</span>
      </div>
      <table class="table table-borderless">
        
        <tbody><ol *ngFor="let info of infoIban">
          <tr>
            <th scope="col">{{info.descriptionTransactional}} </th>
            <th scope="col">€ {{info.amountIban}}</th>
          </tr>
          
          </ol>
        </tbody>
    
      </table>
      <div class="margin-items">
        <div class="flex-container">
          <div class="flex-container container-money-save">
            <div class="square">
              <h6><strong>75%</strong></h6>
            </div>
            <div class="container-description">
              <h5 class="save-money">You save money</h5>
              <h3>30.09.2020 <i class="fa-solid fa-arrow-right" style="color: white;"></i></h3>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>