<div class="flex-contain-column padding-element">
  <h1>Bank Account</h1>

  <div>
     <h2>{{currentAccount.ibanNumber}}</h2>
     <h4>budget € {{currentAccount.balance}}</h4>
  </div>

  <div class="budget">
    <i class="fa-solid fa-coins" style="color: #000000;"></i>
    <form>

      <div class="form-group">
        <label>Transfers</label>
        <input [(ngModel)]="inputAmountIban" type="number" class="form-control" name="inputAmountIban" placeholder="Insert Import" >
      </div>

      <div class="form-group">
        <label>IBAN</label>
        <input [(ngModel)]="inputIbanBeneficiary" type="text" class="form-control" name="inputIbanBeneficiary" placeholder="Iban Beneficiary">
      </div>

      <div class="form-group">
        <label>Name Beneficiary</label>
        <input [(ngModel)]="inputName" type="text" class="form-control" name="inputName" placeholder="Name Beneficiary">
      </div>

      <div class="form-group">
        <label>Surname Beneficiary</label>
        <input [(ngModel)]="inputSurname" type="text" class="form-control" name="inputSurname" placeholder="Surname Beneficiary">
      </div>

      <div class="form-group">
        <label>Reason for the transfer</label>
        <input [(ngModel)]="inputDescription" type="text" class="form-control" name="inputDescription" placeholder="Description transactional">
      </div>

      <mat-form-field class="form-group">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [value]="inputDate" [formControl]="inputDate" >
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <br>
      <button type="button" class="btn btn-primary" (click)="validateTransfer()">Check Payment</button>
      <br>
    </form>
  </div>
</div>
