<div class="flex-contain-column padding-element">
  <h1>Bank Account</h1>

  <div>
     <h2>{{iban}}</h2>
     <h4>budget € {{infoBank.ibanBalance}}</h4>
  </div>

  <div class="budget">
    <i class="fa-solid fa-coins" style="color: #000000;"></i>
    <form>

      <div class="form-group">
        <label for="exampleInputEmail1">Transfers</label>
        <input [(ngModel)]="inputAmountIban" type="double" class="form-control" name="inputAmountIban" placeholder="Insert Import" >
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">IBAN</label>
        <input [(ngModel)]="inputIbanBeneficiary" type="text" class="form-control" name="inputIbanBeneficiary" placeholder="Iban Beneficiary">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Reason for the transfer</label>
        <input [(ngModel)]="inputDescription" type="text" class="form-control" name="inputDescription" placeholder="Description transactional">
      </div>

      <br>
      <button type="button" class="btn btn-primary" (click)="validateTransfer()">Check Payment</button>
      <br>
    </form>
  </div>
</div>
